{% load crispy_forms_tags %}

<form class="mb-3" id="like-form" action="{% url 'blog:post-like' post.slug %}" method="POST">
    {% csrf_token %}
    {% if liked %}
    <button type="submit" id="post_id" name="post_id" value="{{ post.slug }}" class="btn  btn-like btn-lg hvr-icon-pulse"><i class="fas fa-heart hvr-icon"></i></button>
    {% else %}
    <button type="submit" id="post_id" name="post_id" value="{{ post.slug }}" class="btn btn-like btn-sm hvr-icon-pulse"><i class="far fa-heart hvr-icon"></i></button>
    {% endif %}
    <span class="text-secondary">
        {{ post.number_of_likes }}  Like{{ post.number_of_likes | pluralize }}
    </span>
    <span class="text-secondary ml-2">
        <i class="fa-regular fa-comments"></i> {{ post.comments.count }}  Comment{{ post.comments.count | pluralize }}
    </span>
</form>
