
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block extra_title %}{{ page_title }}{% endblock %}
{% block content %}

        <div class="container h-100 mb-4">
            <div class="row">
                <div class="col-md-4">
                {% if "placeholder" in profile.profile_image.url %}
                <img class="mx-auto d-block img-fluid rounded-circle" src="https://res.cloudinary.com/hb3yqhqej/image/upload/v1669992014/media/profile_images/user-profile_vqaiyv.png" width="150" height="150">
                {% else %}
                <img class="mx-auto d-block img-fluid rounded-circle" src="{{ profile.profile_image.url }}" width="150" height="150" >           
                {% endif %}
                </div>
                <div class="col-md-7">
                    <h1 class="mb-4 text-center">Change Image </h1>
                    {% if user.is_authenticated %}
                    <form method="POST" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button class="btn form-btn btn-block" type="submit">{{ form_type }} Update</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

{% endblock %}