{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load cloudinary %}

{% block extra_title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 class="display-4 text-center">My Profile</h1>
            <img class="mx-auto d-block img-fluid rounded-circle" src="{{ profile.profile_image.url }}" alt="user image">
        </div>
        <div class="col-md-8 mt-4">
            <p class="h1 text-center">{{ profile.user }}</p>
        </div>  
    </div>
</div>
<div class="container h-100">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table mt-4 text-center">
                <thead class="thead second-color">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date created</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Comments</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% if request.user.is_authenticated %}
                        {% for post in my_posts %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="{% url 'post-detail' slug=post.slug %}" class="post-link">
                        {{ post.title }}</a></td>
                        <td>{{ post.created_on | date:'F, m Y' }}</td>
                        <td>{{ post.number_of_likes }}</td>
                        <td>{{ post.comments.count }}</td>
                        <td>{{ post.status }}</td>
                    </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}