html {
    height: 100%;
}

/* ---------------------------------- Colors */

.prime-color {
    color: #2220B3;
}

.second-color {
    color: #00B3B3;
}

.text-black {
    color: #1e1e24;
}

.text-black75 {
    color: rgba(31, 31, 36, 0.75);
}

.text-black50 {
    color: rgba(30, 30, 36, 0.50);
}

.text-black25 {
    color: rgba(30, 30, 36, 0.25)
}

.text-black10 {
    color: rgba(30, 30, 36, 0.10)
}

.text-black5 {
    color: rgba(30, 30, 36, 0.05)
}

.text-red {
    color: #B30000;
}

.bg-gradient-primary-to-secondary {
    background-color: #0061f2 !important;
    background-image: linear-gradient(135deg, #2220b3 0%, rgba(0, 179, 179, 0.796) 100%) !important;
}

.bg-prime {
    background-color: rgba(34, 32, 179, 0.50) !important;
}

.bg-second {
    background-color: rgba(0, 179, 179, 0.50) !important;
}

.bg-light {
    background-color: rgba(240, 164, 0, 0.749) !important;
}

body {
    font-family: Montserrat, sans-serif;
    color: #1e1e24;
    padding-top: 4.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand {
    font-family: Lato, sans-serif;
    font-weight: 700;
    color: #1e1e24;
}

.thin {
    font-weight: 300;
}

.nav-link:hover {
    text-decoration: none;
    color: #00b3b3 !important;
}

.page-link {
    color: #00B3B3
}

.page-link:hover {
    color: #2220B3
}

.page-active {
    background-color: #f0a400 !important;
    border-color: #f0a400 !important;
}

.post-link {
    text-decoration: none;
    color: #1e1e24;
}

.post-link:hover {
    text-decoration: underline;
    color: #B30000;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -4px;
    background-color: #00b3b3;
}

.category {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.recent-badge {
    transform: rotate(-15deg);
}


.first-row,
.second-row,
.third-row,
.fourth-row {
    padding: 4rem 0;
}

.third-row h4,
.third-row i {
    text-align: center;
    color: rgba(30, 30, 36, 0.50);
}

.third-row i {
    font-size: 3rem;

}

footer,
footer a,
footer h6,
footer i {
    text-align: center;
    color: rgba(30, 30, 36, 0.50);
}

footer a:hover {
    text-decoration: underline;
    color: #00b3b3 !important;
}

footer i:hover {
    text-decoration: none;
    color: #00b3b3 !important;
}

footer i {
    padding: 1rem 0.5rem;
    font-size: 1.5rem;

}


/* ------------------------------------------- Wrappers */

.container-wrapper {}

.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00000080;
}

/* ----------------------------------------- allauth forms formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #1e1e24;
}

.allauth-form-inner-content input {
    border-color: #1e1e24;
    border-radius: 5px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: rgba(31, 31, 36, 0.50);
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fafafa;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2220B3;
    border: 1px solid #2220B3;
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;

    /* Forward effect Hover.css */
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;

}

.form-btn,
.nav-search-form button,
.nav-search-form input[type='submit'] {
    color: #fafafa;
    background-color: #2220B3;
    border: 1px solid #2220B3;
}

.nav-search-form button:hover,
.nav-search-form [type='submit']:hover,
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #00b3b3;
    background-color: #fafafa;
    border-color: #00b3b3;

    transition-property: transform;
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

.form-btn:hover {
    color: #00b3b3;
    background-color: #fafafa;
    border-color: #00b3b3;
}


.btn-update {
    color: #00b3b3;
    background-color: var(--white);
    border-color: #00b3b3;
}

.btn-update:hover {
    color: var(--white);
    background-color: #00b3b3;
    border: 1px solid #00b3b3;
}

.allauth-form-inner-content a {
    color: var(--info);
}

/* ----------------------------------------- Likes */
.btn-like {
    color: #B30000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #B30000;
    background: transparent;
    border: none;
}

/* Skew https://ianlunn.github.io/Hover/ */
.hvr-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-skew:hover,
.hvr-skew:focus,
.hvr-skew:active {
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
}

/* Float https://ianlunn.github.io/Hover/ */
.hvr-float {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* Icon Pulse https://ianlunn.github.io/Hover/ */
@-webkit-keyframes hvr-icon-pulse {
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes hvr-icon-pulse {
    25% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.hvr-icon-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-pulse .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-pulse:hover .hvr-icon,
.hvr-icon-pulse:focus .hvr-icon,
.hvr-icon-pulse:active .hvr-icon {
    -webkit-animation-name: hvr-icon-pulse;
    animation-name: hvr-icon-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Icon Spin https://ianlunn.github.io/Hover/ */
.hvr-icon-spin {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-icon-spin .hvr-icon {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.hvr-icon-spin:hover .hvr-icon,
.hvr-icon-spin:focus .hvr-icon,
.hvr-icon-spin:active .hvr-icon {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* Icon Grow https://ianlunn.github.io/Hover/ */
.hvr-icon-grow {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-grow .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-grow:hover .hvr-icon,
.hvr-icon-grow:focus .hvr-icon,
.hvr-icon-grow:active .hvr-icon {
    -webkit-transform: scale(1.3) translateZ(0);
    transform: scale(1.3) translateZ(0);
}

/* Icon Forward https://ianlunn.github.io/Hover/ */
.hvr-icon-forward {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}