html {
    height: 100%;
}

.bg-lightgray {
    background-color: #eaeaea;
}


/* Wrappers */

.container-wrapper {}

.container-wrapper--lightgray {
    background-color: rgb(234, 234, 234);
}

.overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(234, 234, 234);
    z-index: -1;
}

.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}