{% extends 'errors/errors_base.html' %}
{% load static %}
{% load cloudinary %}

{% block content %}
<div class="container-wrapper bg-gradient-primary-to-secondary">

<div class="container">
    <div class="row">
        <div class="col-md-6 my-auto form-container text-center rounded mx-auto my-2 py-2">
            <h1>Error 405: Method Not Allowed</h1>
            <h2>No way hose!. <i class="fas fa-undo"></i></h2>
            <div>
                <img src="https://res.cloudinary.com/devjosemgr/image/upload/v1670439334/media/images/error_405.jpg" alt="method not allowed" width="100%">
            </div>
            <div>
                <a href="{% url 'home:homepage' %}" class="btn btn-warning btn-lg mt-3">
                    Bring me back home
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}