{% load static %}
<!doctype html>
<html lang="en">
  <!-- Head -->
  {% include 'includes/head.html' %}
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand brand" href="{% url 'home:homepage' %}">
            <img src="https://res.cloudinary.com/hb3yqhqej/image/upload/v1670066868/media/images/favicon_logo.png" width="40" height="40" alt="logo">
            <small class="text-black50">J's</small>
            <strong class="h2 prime-color">C</strong>oding <strong class="h2 second-color">S</strong>pot </a>
        </div>
      </nav>
    </header>
    {% block page_header %} 
    {% endblock %}

    {% block content %}
    <!-- Content goes here -->
    {% endblock %}

    {% block extra_js %} 
    {% endblock %}
  </body>
</html>