{% load static %}
<footer class="container-fluid mt-4 pt-4">
  <div id="footer-details" class="row">
    <div class="col-sm-4 order-3">
      <span class="text-uppercase">Extras</span>
      <ul class="list-unstyled mt-2">
        {% if request.user.is_authenticated %}  <li>
          <a href="{% url 'home:about' %}">About</a>
        </li>
        <li>
          <a href="{% url 'home:contact' %}">Contact</a>
        </li>
        {% else %} <li>
          <a href="{% url 'home:about' %}">About</a>
        </li>     
        {% endif %}
      </ul>
    </div>
    <div class="col-sm-4">
      <span class="text-uppercase">Menu</span>
      <div class="menus">
        <ul class="list-unstyled mt-2">
          {% if request.user.is_authenticated %} <li>
            <a href="{% url 'account_logout' %}">Log out</a>
          </li>
          <li>
            <a href="{% url 'profile' %}">Profile</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'account_login' %}">sign in</a>
          </li>
          <li>
            <a href="{% url 'account_signup' %}">sign up</a>
          </li> 
          <li>
            <a href="{% url 'home:homepage' %}">home</a>
          </li>
          <li>
            <a href="{% url 'blog:post-list' %}">blog</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-sm-4 order-1">
      <span class="text-uppercase">Social</span>
      <ul class="list-inline social-links mt-2">
        <li class="list-inline-item">
          <a href="https://www.facebook.com/profile.php?id=100089031528048" target="_blank">
            <i class="fab fa-facebook" aria-hidden="true"></i>
            <span class="sr-only">Facebook</span>
          </a>
        </li>
        <li class="list-inline-item social-links">
          <a href="https://github.com/JoseMGuerra/ci-pp4-django-fsf" target="_blank">
            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="sr-only">Github</span>
          </a>
        </li>
        <li class="list-inline-item social-links">
          <a href="https://www.linkedin.com/in/josem-guerra/" target="_blank">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="inline-block">
    <small> For Educational purpose only <br> 
      Developed by Jose Guerra </small>
  </p>
</footer>