{% load static %}
<head>
  {% if page_title %}
  <title>Blog | {% block extra_title %} {{ page_title }} {% endblock %}</title> {% else %}
  <title>Blog</title> {% endif %}
  {% block meta %}
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Blog content dedicated to coding articles, coding exercises and how to tutorials.">
  <meta name="keywords" content="coding spot,coding, how to tutorial, coding tutorials, code tutorial, coding posts, beginners coding tutorials, coding for students, programming articles, programming tutorial, coding articles, coding exercises, programming exercises, software development, HTML, CSS, Javascript, Python, Django, algorithms, code">
  <meta name="theme-color" content="#2220B3">
  <meta name="google-site-verification" content="XvJyoYO1fVs2k5ASu1x7r0lSQbsEapbCY2IdOsdE2w8">
  <!-- ./ meta -->
  {% endblock %}

  {% block extra_meta %} 
  {% endblock %}

  {% block corecss %}
  <!-- Css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat+Alternates&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- ./ css -->
  {% endblock %}

  {% block extra_css %} 
  {% endblock %}

  {% block corejs %}
  <!-- Javascript -->
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/97317b0f17.js" crossorigin="anonymous"></script>
  <!-- jQuery and Bootstrap Bundle -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- ./ javascript -->
  {% endblock %}
  
  {% block extra_js %} 
  {% endblock %}
</head>