{% load static %}
<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand brand" href="{% url 'home:homepage' %}">
        <small class="text-black75">J/G</small>
        <strong class="h2 prime-color">C</strong>oding <strong class="h2 second-color">S</strong>pot </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#indexNavbar" aria-controls="indexNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="indexNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home:homepage' %}">Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:post-list' %}">Blog</a>
          </li>
          {% if request.user.is_authenticated %} <li class="nav-item">
            <a href="{% url 'blog:post-create' %}" class="nav-link ">Add Post</a>
          </li>
          <li>
            <a class="nav-link navbar-text d-block" href="{% url 'account_logout' %}">
            Log Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home:about' %}">About</a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle second-color"></i> <span class="prime-color">Hello {{ user.username }}</span> 
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if user.is_staff %}
            <a class="nav-link navbar-text d-block" href="{% url 'blog:posts-management' %}">
              Blog Management</a>
            {% endif %}  
            <a class="nav-link navbar-text d-block" href="{% url 'profile' %}">
              My Profile</a>
          </div>
        </div>
        {% endif %}
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'blog:search' %}">
          <input class="form-control mr-sm-2" type="search" name="query" placeholder="Find a post..." aria-label="Search">
          <button class="btn form-btn my-2 my-sm-0" type="submit">
            Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
