{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% load cloudinary %}

{% block extra_title %}{{ page_title }}{% endblock %}

{% block content %}

<body>   
    <div class="contatiner">
        <div class="row">
            <div class="col-md-6 mt-5 offset-md-3">
                <h1>Posts</h1>
                 {% for post in post_list %}
                    <h3><a href="{% url 'post-detail' slug=post.slug %}">{{ post.title }}</a></h3>
                    <div><img src="{{ post.featured_image.url }}" alt="default_image"></div>
                    <p>{{ post.content}}</p>
                    {% if user.is_superuser %}
                        <a class="btn btn-outline-primary" role="button" href="{% url 'post-update' slug=post.slug %}">Update
                        </a>
                            
                        <a class="btn btn-outline-danger" role="button" href="{% url 'post-delete' slug=post.slug %}">Delete
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
</div>

</body>

{% endblock content %}