{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% load cloudinary %} {% block extra_title %}{{ page_title }}{% endblock %}
{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h1 class="mb-4 thin text-center">{{ page_title }}</h1> 
      {% for post in posts %} {% if forloop.counter|divisibleby:2 %} 
      <article>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-4"> 
              {% if "placeholder" in post.featured_image.url %} 
              <img src="https://res.cloudinary.com/devjosemgr/image/upload/v1670438999/media/placeholder.webp" alt="post placeholder image" class="img-fluid rounded"> 
              {% else %} 
              <img src="{{ post.featured_image.url }}" alt="post featured image" class="img-fluid rounded"> 
              {% endif %} </div>
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title">
                  <a class="post-link" href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                  </a>
                </h3>
                <p class="card-text"></p>
                {{ post.content | linebreaks | truncatewords:15 | safe }}
                <a class="post-link d-inline" href="{{ post.get_absolute_url }}">
                  <strong>read full post</strong>
                </a>
                <p class="card-text">
                  <small class="text-muted">Last updated {{ post.updated_on | timesince }} ago <br> Created by {{ post.author }} on {{ post.created_on|date:"D d M Y" }}
                    <br>
                    <i class="far fa-heart"></i>
                    {{ post.number_of_likes }}
                  </small>
                  <small class="text-secondary ml-2 mb-3">
                    <i class="fa-regular fa-comments"></i>
                    {{ post.comments.count }}
                  </small>
                  <br>
                  <span>
                    <a href="{{ post.category.get_absolute_url }}">
                      <span class="badge category-badge">
                        {{ post.category }}
                      </span>
                    </a>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </article> 
      {% else %} 
      <article>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h3 class="card-title">
                  <a class="post-link" href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                  </a>
                </h3>
                <p class="card-text"></p>
                {{ post.content | linebreaks | truncatewords:15 | safe }}
                <a class="post-link d-inline" href="{{ post.get_absolute_url }}">
                  <strong>read full post</strong>
                </a>
                <p class="card-text">
                  <small class="text-muted">Last updated {{ post.updated_on | timesince }} ago <br> Created by {{ post.author }} on {{ post.created_on|date:"D d M Y" }}
                    <br>
                    <i class="far fa-heart"></i>
                    {{ post.number_of_likes }}
                  </small>
                  <small class="text-secondary ml-2">
                    <i class="fa-regular fa-comments"></i>
                    {{ post.comments.count }}
                  </small>
                  <br>
                  <span>
                    <a href="{{ post.category.get_absolute_url }}">
                      <span class="badge category-badge">
                        {{ post.category }}
                      </span>
                    </a>
                  </span>
                </p>
              </div>
            </div>
            <div class="col-md-4"> 
              {% if "placeholder" in post.featured_image.url %} <img src="https://res.cloudinary.com/devjosemgr/image/upload/v1670438999/media/placeholder.webp" class="img-fluid rounded"> 
              {% else %} <img src="{{ post.featured_image.url }}" alt="post featured image" class="img-fluid rounded"> 
              {% endif %} </div>
          </div>
        </div>
      </article> 
      {% endif %} {% endfor %}
    </div>
  </div> {% include 'blog/includes/paginator.html' with page=posts %}
</div> {% endblock content %}