{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% load cloudinary %} {% block extra_title %} {{ page_title }} {% endblock %} 
{% block content %} 
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="thin text-center mb-4">Post Detail</h1>
        <article>
          <div class="card">
            {% if "placeholder" in post.featured_image.url %} 
            <img src="https://res.cloudinary.com/devjosemgr/image/upload/v1670438999/media/placeholder.webp" alt="post placeholder image" class="img-fluid rounded"> 
            {% else %} <img src="{{ post.featured_image.url }}" alt="post featured image" class="img-fluid rounded">
            {% endif %} 
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text">{{ post.content | linebreaks | safe }}
              <span class="card-text text-black50">By {{ post.author }} on {{ post.created_on|date:"D d M Y" }}</span>
              <p class="card-text text-black50">Last updated {{ post.updated_on | timesince }} ago <br>
                <span> Category: <a href="{{ post.category.get_absolute_url }}">
                    <span class="badge category-badge">{{ post.category }}</span>
                  </a>
                </span>
                <br> 
                {% if not user.is_authenticated %} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}
                <span class="text-secondary ml-2">
                  <i class="fa-regular fa-comments"></i>
                  {{ post.comments.count }}
                </span>
                {% endif %}
              </p>
              <p>
                <a class="text-black75" href="{% url 'blog:post-list' %}">
                  <i class="fas fa-hand-point-left prime-color" style="font-size: 1.5rem;"></i> Back to Posts </a>
              </p> 
              {% if user.is_authenticated %}
              {% include 'blog/includes/post_like.html' %}
              {% endif %}
              {% if request.user == post.author or user.is_staff %} 
              <a class="btn btn-update btn-lg btn-block" role="button" href="{% url 'blog:post-update' slug=post.slug %}">Update </a>
              <a class="btn btn-outline-danger btn-lg btn-block" role="button" data-toggle="modal" data-target="#deleteModal">Delete </a> 
              {% endif %}
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4 mt-4 ">
        <p class="thin h4">
          <strong class="second-color">Comments:</strong>
          <small>{{ comments.count }}</small>
        </p>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments shadow-sm p-3 mb-3 bg-white rounded" style="padding: 10px;">
            <p class="font-weight-bold">
              {{ comment.user }} on <span class=" text-muted font-weight-normal">
                {{ comment.created_on|date:"D d M Y" }}
              </span> wrote:
            </p>
            {{ comment.body | linebreaks }}
          </div> 
          {% empty %} 
          <P>There is no comments</P> 
          {% endfor %} </div>
      </div>
      <div class="col-md-4 card mb-4 mt-3 ">
        <div class="card-body">
            {% if user.is_authenticated %} 
            {% if post.approved == True %}
            {% include 'blog/includes/comment_form.html' %}
            {% endif %} 
            {% else %} <p>
            <strong>Would you like to leave a comment?.</strong> Already have an account? Then please <a href="{% url 'account_login' %}">
              <strong class="second-color h5">Sign In</strong>
            </a>
          </p>
          <p> If you don't have an account please <a href="{% url 'account_signup' %}">
              <strong class="second-color h5">Sign Up</strong>
            </a> to create one. </p>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include 'blog/includes/delete_modal.html' %}
  <script>
    $(document).ready(function(){
      $("#like-form").submit(function(e){
        e.preventDefault();
        const post_slug = $('.btn-like').val();
        const csrftoken = $('input[name=csrfmiddlewaretoken]').val();
        const url = $(this).attr('action');

        $.ajax({
          method: "POST",
          url: url,
          headers: {'X-CSRFToken': csrftoken},
          data: {
            "post_slug": post_slug
          },

          success: function(response)
          {
            if (response.liked === true){
              $("#post_id").addClass("btn-like");
            } else{
              $("#post_id").removeClass("btn-like");
            };
            // remove django post-number-of-likes
            $("#post_id").removeClass("like-count")
            like = $("#like-count").text(response.likes_count + " Likes");
            parseInt(like);
          },

          error: function(response)
          {
            console.log("Failed ", response);
          },

        });
      });     
    })
  </script>

  {% endblock content %}