{% extends 'base.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% load cloudinary %} 
{% block extra_title %}{{ page_title }}{% endblock %}
{% block content %} 
      <h1 class="mb-4 thin text-center second-color">{{ page_title }}</h1>
      <h2 class="text-center">Your search for <span class="second-color">{{ query }}</span></h2>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for post in posts %} 
      <article>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              <a class="post-link" href="{{ post.get_absolute_url }}">
                {{ post.title }}
              </a>
            </h5>
              <small class="text-muted">Created by {{ post.author }} on {{ post.created_on|date:"D d M Y" }} 
              </small>
              <br>
              <span>Category: 
                <a href="{{ post.category.get_absolute_url }}">
                  <span class="badge category-badge">
                    {{ post.category }}
                  </span>
                </a>
              </span>
          </div>
        </div>
      </article> 
      {% empty %}
      <p>No posts matched your query...</p>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}