{% extends 'base.html' %} {% load crispy_forms_tags %} {% load cloudinary %} {% block extra_title %}{{ page_title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4 text-center">Posts Management</h1>
        <p class="h1 text-center">{{ user.username }}</p>
      </div>
    </div>
  </div>
  <div class="container h-100">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-sm table-hover text-center">
            <thead class="thead prime-color bg-logo-green">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Date created</th>
                <th scope="col">Likes</th>
                <th scope="col">Comments</th>
                <th scope="col">Status</th>
                <th scope="col">Approved</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
                {% if request.user.is_staff %} {% for post in posts %}
                {% if post.status == 'draft' %} <tr class="table-danger">
                <th scope="row">{{ forloop.counter }}</th>
                <th scope="row">{{ post.author }}</th>
                <td>
                  <a href="{{ post.get_absolute_url }}" class="post-link">
                    {{ post.title }}
                  </a>
                </td>
                <td>{{ post.created_on|date:"D d M Y"}}</td>
                <td>{{ post.number_of_likes }}</td>
                <td>{{ post.comments.count }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.approved }}</td>
                <td>
                  <a class="btn btn-update btn-sm" role="button" href="{% url 'blog:post-update' post.slug %}">Update </a>
                </td>
                <td>
                  <a class="btn btn-outline-danger btn-sm" role="button" href="{% url 'blog:post-backend-delete' slug=post.slug %}">Delete </a>
                </td>
              </tr> {% else %} <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th scope="row">{{ post.author }}</th>
                <td>
                  <a href="{{ post.get_absolute_url }}" class="post-link">
                    {{ post.title }}
                  </a>
                </td>
                <td>{{ post.created_on|date:"D d M Y"}}</td>
                <td>{{ post.number_of_likes }}</td>
                <td>{{ post.comments.count }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.approved }}</td>
                <td>
                  <a class="btn btn-update btn-sm" role="button" href="{% url 'blog:post-update' post.slug %}">Update </a>
                </td>
                <td>
                  <a class="btn btn-outline-danger btn-sm" role="button" href="{% url 'blog:post-backend-delete' slug=post.slug %}">Delete </a>
                </td>
              </tr> {% endif %} {% endfor %} {% endif %} </tbody>
          </table>
        </div>
      </div>
    </div> {% include 'blog/includes/paginator.html' with page=posts %}
  </div> {% endblock %}