{% load static %}
<!doctype html>
<html lang="en">
    <!-- Head -->
  {% include 'includes/head.html' %}
    <!-- ./ head-->
  <body class="d-flex flex-column">
    <!-- Header -->
    {% include 'includes/header.html' %}
    <!-- ./ header-->
    <!-- Messages -->
    {% if messages %}
    <div class="container message-container pt-3">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show"   id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    <!-- ./ messages -->
   {% block page_header %}
    {% endblock %}
    {% block content %}
    <!-- Content goes here -->
    {% endblock %}
    <!-- Footer-->
    {% include 'includes/footer.html' %} 
    <!-- ./ footer -->
  {% block extra_js %}
  {% endblock %}
</body>

</html>