{% load static %}

    <footer class="container-fluid mt-4">
        <div id="footer-details" class="row">
          <div class="col-sm-4">
            <h5 class="uppercase general-sub">About</h5>
            <p class="inline-block">
              Full Stack Personal Project 4 <br>
              for Code Institute <br>
              Developed by Jose Guerra <br>
              For Educational purpose only.
            </p>
          </div>
          <div class="col-sm-4">
            <h5 class="uppercase general-sub">Menu</h5>
            <div class="menus d-flex">
              <ul class="list-unstyled">
                {% if request.user.is_authenticated %}
                <li> <a href="{% url 'account_logout' %}">Log out</a></li>
                <li> <a href="{% url 'profile' %}">My Profile</a></li>
                {% endif %}
                <li> <a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <h5 class="uppercase general-sub">Social</h5>
            <ul class="list-inline social-links">
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                  <span class="sr-only">Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                  <span class="sr-only">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <i class="fab fa-linkedin" aria-hidden="true"></i>
                  <span class="sr-only">LinkedIn</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <i class="fab fa-youtube" aria-hidden="true"></i>
                  <span class="sr-only">Youtube</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </footer>
  