{% load static %}

<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'homepage' %}"><strong class="text-warning h2">D</strong>jango <strong class="text-info h2">B</strong>log</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'post-list' %}">Posts</a>
          </li>
          {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
                  <a href="#" class="nav-link">Blog Management</a>
              {% endif %}
              <li class="nav-item"><a href="{% url 'post-create' %}" class="nav-link ">Create</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
          {% endif %}
        </ul>
        <form class="form-inline nav-search-form my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>